<% include header.html %>
  <!-- Main content -->
  <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css">
  <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>

  <section class="content">
    <% if (typeof msg !='undefined' ) { %>
      <div class="alert alert-success alert-dismissible fade show" style="text-align: center;" role="alert">
        <strong>
          <%= msg %>
        </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>

        <% if(typeof selfmanagment_data !='undefined' ){ %>
          <form class="form-data" role="form" method="post" action="/update_selfmanagment_detail"
            enctype="multipart/form-data">
            <div class="row">
              <input type="hidden" name="selfmanagment_id" value="<%= selfmanagment_data._id %>" />
              <div class="col-md-8">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">
                    Edit Self Management
                    </h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <input type="hidden" class="form-control" value="<%= selfmanagment_data.picture %>" name="picture" />
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                          <img class="profile-user-img img-fluid img-circle" style="width: 250px; height: 250px;"
                            src="<%= selfmanagment_data.picture != '' ? selfmanagment_data.picture : 'default.png' %>"
                            alt="User profile picture" id="profile_image">
                        </div>
                        <div class="col-md-3">
                        </div>
                      </div>

                      <div class="row col-md-4 float-right" style="margin-bottom: 10px;">
                        <input type="button" id="loadFileXml" value="Select Profile Image" style="border-radius:12px;border-width:2px;padding:2px 10px; background:transparent;
                  color:#656d78;" onclick="document.getElementById('profile_file').click();" />
                        <input type="file" style="display:none;  " id="profile_file" name="profile_file" />
                      </div>
                    </div> 
                    
                    <div class="form-group">
                      <label for="title">
                        Title
                      </label>
                      <input type="text" id="title" name="title" style="text-transform: capitalize;" class="form-control"
                        value="<%= selfmanagment_data.title %>" required>
                    </div>           
                    <div class="form-group">
                      <label for="extra_detail">
                        Message
                      </label>
                      <textarea id="extra_detail" name="extra_detail" class="form-control"
                        rows="4"><%= selfmanagment_data.extra_detail %></textarea>
                    </div>
                    <div class="form-group" name="status">
                      <label for="status">
                        <%=process.env.title_status %>
                      </label>
                      <select class="form-control custom-select" id="status" name="status" required>
                        <% if(selfmanagment_data.status=="1" ) { %>
                          <option value="1" selected="selected">
                            <%= process.env.active %>
                          </option>
                          <option value="0">
                            <%= process.env.inactive %>
                          </option>
                          <% } else{ %>
                            <option value="1">
                              <%= process.env.active %>
                            </option>
                            <option value="0" selected="selected">
                              <%= process.env.inactive %>
                            </option>
                            <% } %>
                      </select>
                    </div>

                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <div class="col-12">
                  <input type="submit" value="Edit Self Management" class="btn system-bottons float-right">
                </div>
              </div>

            </div>

          </form>
          <% }else{ %>
            <form class="form-data" role="form" method="post" action="/save_selfmanagment_data"
              enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-8">
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">
                        Add Self Management
                      </h3>

                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                          title="Collapse">
                          <i class="fas fa-minus"></i></button>
                      </div>
                    </div>
                    <div class="card-body">
                      <input type="hidden" class="form-control" name="picture" />
                      <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                          <img class="profile-user-img img-fluid img-circle" style="width: 250px; height: 250px;"
                            src="default.png" alt="User profile picture" id="profile_image">
                        </div>
                        <div class="col-md-3">
                        </div>
                      </div>

                      <div class="row col-md-4 float-right" style="margin-bottom: 10px;">
                        <input type="button" id="loadFileXml" value="Select Profile Image" style="border-radius:12px;border-width:2px;padding:2px 10px; background:transparent;
                  color:#656d78;" onclick="document.getElementById('profile_file').click();" />
                        <input type="file" style="display:none;  " id="profile_file" name="profile_file" />
                      </div>
                      
                      <div class="form-group">
                        <label for="name">
                          Title
                        </label>
                        <input type="text" id="title" name="title" style="text-transform: capitalize;"
                          class="form-control" required>
                      </div>

                      <div class="form-group">
                        <label for="extra_detail">
                          <%= process.env.extra_detail %>
                        </label>
                        <textarea id="extra_detail" name="extra_detail" class="form-control" rows="4"></textarea>
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                  <div class="col-12">
                    <input type="submit" value="Add Self Management" class="btn system-bottons float-right">
                  </div>
                </div>
              </div>

              </div>
            </form>
            <% } %>
  </section>

  <script>
    $(function () {
      // $('.my-select-box').fSelect({});

      var dateToday = new Date();
      //Date range picker with time picker
      $('#passport_expire_date').datepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minDate: dateToday,
        changeMonth: true,
        changeYear: true,
      });
    });

    document.getElementById("profile_file").onchange = function () {
      var reader = new FileReader();

      reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("profile_image").src = e.target.result;
      };

      // read the image file as a data URL.
      reader.readAsDataURL(this.files[0]);
    };


    $(document).ready(function () {
      $('#fselectMulti').multiselect({
        enableFiltering: true,
        maxHeight: 350,
        dropRight: false,
      });

      if ($("#admin_type option:selected").val() == "1") {
        $("#allowed_urls").css("display", "block");
      } else {
        $("#allowed_urls").css("display", "none");
      }

      $("#admin_type").change(function (e) {
        if (this.value == 1) {
          $("#allowed_urls").css("display", "block");
        } else {
          $("#allowed_urls").css("display", "none");
        }
      });

    });


    function isNumberKey(evt) {
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if (charCode != 46 && charCode > 31
        && (charCode < 48 || charCode > 57))
        return false;

      return true;
    }

  </script>
  <!-- /.content -->
  <% include footer.html %>