<% include header.html %>
  <!-- Main content -->
  <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css">
  <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>

  <section class="content">
    <% if (typeof msg !='undefined' ) { %>
      <div class="alert alert-success alert-dismissible fade show" style="text-align: center;" role="alert">
        <strong>
          <%= msg %>
        </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>

        <% if(typeof shifts_data !='undefined' ){ %>
          <form class="form-data" role="form" method="post" action="/update_doctor_detail"
            enctype="multipart/form-data">
            <div class="row">
              <input type="hidden" name="doctor_id" value="<%= doctor_data._id %>" />
              <div class="col-md-8">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">
                    Edit Doctor
                    </h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <input type="hidden" class="form-control" value="<%= doctor_data.picture %>" name="picture" />
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                          <img class="profile-user-img img-fluid img-circle" style="width: 250px; height: 250px;"
                            src="<%= doctor_data.picture != '' ? doctor_data.picture : 'default.png' %>"
                            alt="User profile picture" id="profile_image">
                        </div>
                        <div class="col-md-3">
                        </div>
                      </div>

                      <div class="row col-md-4 float-right" style="margin-bottom: 10px;">
                        <input type="button" id="loadFileXml" value="Select Profile Image" style="border-radius:12px;border-width:2px;padding:2px 10px; background:transparent;
                  color:#656d78;" onclick="document.getElementById('profile_file').click();" />
                        <input type="file" style="display:none;  " id="profile_file" name="profile_file" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">
                        <%= process.env.title_name %>
                      </label>
                      <input type="text" id="name" name="name" style="text-transform: capitalize;" class="form-control"
                        value="<%= doctor_data.name %>" required>
                    </div>
                    <div class="form-group">
                      <label for="phone">
                        <%= process.env.phone %>
                      </label>
                      <input type="text" id="phone" name="phone" class="form-control" value="<%=doctor_data.phone %>"
                        onkeypress="return isNumberKey(event);" required>
                    </div>  
                    <div class="form-group">
                        <label for="email">
                          <%= process.env.email %>
                        </label>
                        <input type="email" id="email" name="email" class="form-control" value="<%= doctor_data.email %>"
                          required>
                      </div> 
                      <div class="form-group" name = "doctor">
                        <label for="hospital_id">
                          Hospital
                        </label>
                        <select class="form-control custom-select"  id="hospital_id" name="hospital_id" required>
                          <option value=""> All</option>
                          <% if(Hospital.length > 0){  %>
                          
                            <% Hospital.forEach(function(data){%>
                
    
                              <%if(hospital_id == data._id){%>
                                
                                <option value="<%=data._id%>"  selected><%=data.name%></option>
                                
                              <%}else{%>
                                <option value="<%=data._id%>"  ><%=data.name%></option>
                              <%}%>
                             
                               
                        <%})%>
                        <%}%>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="name">
                          Country
                        </label>
                        <input type="text" id="countries" name="countries" style="text-transform: capitalize;" class="form-control"
                          value="<%= doctor_data.countries %>" required>
                      </div>
                      <div class="form-group">
                        <label for="name">
                          Speciality
                        </label>
                        <input type="text" id="speciality" name="speciality" style="text-transform: capitalize;" class="form-control"
                          value="<%= doctor_data.speciality %>" required>
                      </div>
                      <div class="form-group">
                        <label for="experience_years">
                            Experience Years
                        </label>
                        <input type="text" id="experience_years" name="experience_years" class="form-control" value="<%=doctor_data.experience_years %>"
                          onkeypress="return isNumberKey(event);" required>
                      </div>  
                      <div class="form-group">
                          <label for="consultation_fee">
                            Consultation Fee
                          </label>
                          <input type="text" id="consultation_fee" name="consultation_fee" class="form-control" value="<%= doctor_data.consultation_fee %>"
                          onkeypress="return isNumberKey(event);" required>
                        </div>                  
                    <div class="form-group" name="status">
                      <label for="status">
                        <%=process.env.title_status %>
                      </label>
                      <select class="form-control custom-select" id="status" name="status" required>
                        <% if(doctor_data.status=="1" ) { %>
                          <option value="1" selected="selected">
                            <%= process.env.active %>
                          </option>
                          <option value="0">
                            <%= process.env.inactive %>
                          </option>
                          <% } else{ %>
                            <option value="1">
                              <%= process.env.active %>
                            </option>
                            <option value="0" selected="selected">
                              <%= process.env.inactive %>
                            </option>
                            <% } %>
                      </select>
                    </div>           
                    <div class="form-group">
                      <label for="extra_detail">
                        <%= process.env.extra_detail %>
                      </label>
                      <textarea id="extra_detail" name="extra_detail" class="form-control"
                        rows="4"><%= doctor_data.extra_detail %></textarea>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <div class="col-12">
                  <input type="submit" value="Edit Doctor" class="btn system-bottons float-right">
                </div>
              </div>

            </div>

          </form>
          <% }else{ %>
            <form class="form-data" role="form" method="post" action="/save_shifts_data"
              enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-8">
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">
                        Add Shifts
                      </h3>

                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                          title="Collapse">
                          <i class="fas fa-minus"></i></button>
                      </div>
                    </div>
                    <div class="card-body">
                      <input type="hidden" class="form-control" name="picture" />
                      <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                      </div>
                            
                      <div class="form-group">
                        <label for="doctor_id">
                          Doctor
                        </label>
                        <select class="form-control custom-select2" id="doctor_id" name="doctor_id" required>
                            <% if(doctor_data.length > 0){  %>
                              <option value="">Select Hospital</option>
                              <% doctor_data.forEach(function(data){%>
                               
                          <option value="<%=data._id%>"  ><%=data.name%></option>
                          <%})%>
                          <%}%>
                          </select>
                      </div>
                    
                      <div class="form-group">
                        <label>Availability</label>
                        <div class="row">
                          <% let days = ["Saturday", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]; %>
                          <% days.forEach(function(day) { %>
                            <div class="col-md-4">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="availability[<%= day %>][day]" value="<%= day %>" id="<%= day %>">
                                <label class="form-check-label" for="<%= day %>"><%= day %></label>
                              </div>
                      
                              <!-- Time slots area -->
                              <div class="time-slots" id="slots_<%= day %>" style="display: none;">
                                <label>Time Slots</label>
                                <div id="timeSlotsContainer_<%= day %>">
                                  <div class="time-slot">
                                    <input type="time" name="availability[<%= day %>][slots][0][time]" class="form-control">
                                    <button type="button" class="btn btn-danger remove-slot" onclick="removeSlot(this)">- Rem</button>
                                </div>
                                
                                </div>
                                <button type="button" class="btn btn-success add-slot" data-day="<%= day %>">+ Add</button>
                              </div>
                            </div>
                          <% }); %>
                        </div>
                      </div>               
                      <div class="form-group">
                        <label for="extra_detail">
                          <%= process.env.extra_detail %>
                        </label>
                        <textarea id="extra_detail" name="extra_detail" class="form-control" rows="4"></textarea>
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                  <div class="col-12">
                    <input type="submit" value="Add Shifts" class="btn system-bottons float-right">
                  </div>
                </div>
              </div>

              </div>
            </form>
            <% } %>
  </section>

  <script>
    $(function () {
      // $('.my-select-box').fSelect({});

      var dateToday = new Date();
      //Date range picker with time picker
      $('#passport_expire_date').datepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minDate: dateToday,
        changeMonth: true,
        changeYear: true,
      });
    });

    $(document).ready(function () {
      $('#fselectMulti').multiselect({
        enableFiltering: true,
        maxHeight: 350,
        dropRight: false,
      });

      if ($("#admin_type option:selected").val() == "1") {
        $("#allowed_urls").css("display", "block");
      } else {
        $("#allowed_urls").css("display", "none");
      }

      $("#admin_type").change(function (e) {
        if (this.value == 1) {
          $("#allowed_urls").css("display", "block");
        } else {
          $("#allowed_urls").css("display", "none");
        }
      });

    });


    function isNumberKey(evt) {
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if (charCode != 46 && charCode > 31
        && (charCode < 48 || charCode > 57))
        return false;

      return true;
    }

// waa avilibility days and times for doctor

  document.querySelectorAll('.form-check-input').forEach(checkbox => {
    checkbox.addEventListener('change', function() {
      let slotsDiv = document.getElementById('slots_' + this.value);
      slotsDiv.style.display = this.checked ? 'block' : 'none';
    });
  });



  document.querySelectorAll('.add-slot').forEach(button => {
    button.addEventListener('click', function() {
        let day = this.getAttribute('data-day');
        let container = document.getElementById('timeSlotsContainer_' + day);
        let index = container.getElementsByClassName('time-slot').length;

        let newSlot = document.createElement('div');
        newSlot.classList.add('time-slot');
        newSlot.innerHTML = `
            <input type="time" name="availability[${day}][slots][${index}][time]" class="form-control">
            <button type="button" class="btn btn-danger remove-slot" onclick="removeSlot(this)">- Rem</button>
        `;
        container.appendChild(newSlot);
    });
});

// Function to remove a time slot
function removeSlot(button) {
    button.parentElement.remove();
}


  // Function to add new time slots
  // document.querySelectorAll('.add-slot').forEach(button => {
  //   button.addEventListener('click', function() {
  //     let day = this.getAttribute('data-day');
  //     let container = document.getElementById('timeSlotsContainer_' + day);
  //     let newSlot = document.createElement('div');
  //     newSlot.classList.add('time-slot');
  //     newSlot.innerHTML = `
  //       <input type="time" name="availability[${day}][start_time][]" class="form-control">
  //       <input type="time" name="availability[${day}][end_time][]" class="form-control">
  //       <button type="button" class="btn btn-danger remove-slot" onclick="removeSlot(this)">-Rem</button>
  //     `;
  //     container.appendChild(newSlot);
  //   });
  // });



//   document.querySelectorAll('.add-slot').forEach(button => {
//     button.addEventListener('click', function() {
//         let day = this.getAttribute('data-day');
//         let container = document.getElementById('timeSlotsContainer_' + day);
//         let index = container.getElementsByClassName('time-slot').length;

//         let newSlot = document.createElement('div');
//         newSlot.classList.add('time-slot');
//         newSlot.innerHTML = `
//             <input type="time" name="availability[${day}][slots][${index}][start_time]" class="form-control">
//             <input type="time" name="availability[${day}][slots][${index}][end_time]" class="form-control">
//             <button type="button" class="btn btn-danger remove-slot" onclick="removeSlot(this)">- Rem</button>
//         `;
//         container.appendChild(newSlot);
//     });
// });


//   // Function to remove a time slot
//   function removeSlot(button) {
//     button.parentElement.remove();
//   }



//   document.querySelectorAll('.add-slot').forEach(button => {
//     button.addEventListener('click', function() {
//         let day = this.getAttribute('data-day');
//         let container = document.getElementById('timeSlotsContainer_' + day);
//         let index = container.getElementsByClassName('time-slot').length;

//         let newSlot = document.createElement('div');
//         newSlot.classList.add('time-slot');
//         newSlot.innerHTML = `
//             <input type="time" name="availability[${day}][slots][${index}][start_time]" class="form-control">
//             <input type="time" name="availability[${day}][slots][${index}][end_time]" class="form-control">
//             <button type="button" class="btn btn-danger remove-slot" onclick="removeSlot(this)">- Rem</button>
//         `;
//         container.appendChild(newSlot);
//     });
// });


  </script>
  <!-- /.content -->
  <% include footer.html %>