<% include header.html %>
  <!-- Main content -->
  <script>
    function timeSince(date) {
      date = new Date(date);
      var seconds = Math.floor((new Date() - date) / 1000);

      var interval = seconds / 31536000;

      if (interval > 1) {
        return Math.floor(interval) + " year(s) ago";
      }
      interval = seconds / 2592000;
      if (interval > 1) {
        return Math.floor(interval) + " month(s) ago";
      }
      interval = seconds / 86400;
      if (interval > 1) {
        return Math.floor(interval) + " day(s) ago";
      }
      interval = seconds / 3600;
      if (interval > 1) {
        return Math.floor(interval) + " hour(s) ago";
      }
      interval = seconds / 60;
      if (interval > 1) {
        return Math.floor(interval) + " minute(s) ago";
      }
      return Math.floor(seconds) + " second(s) ago";
    }
  </script>
  <section class="content">
    <div class="container-fluid">
          <div class="row" style="margin-bottom:10px;">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
          </div>

          <div class="card card-default">
            <!-- /.card-header -->
            <!-- <div class="card-body">
              <form style="background-color: #ffffff; padding: 10px; margin-bottom:10px;" class="form-data" role="form"
                method="post" action="/appointmentReport">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-2">
  
                    </div>
                    <div class="col-md-3">
  
                    </div>
                    <div class="col-md-4">
                      <div style="text-align: center;">
                        <label>
                          <%= process.env.date_filter %>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-10" style="margin-top: 10px;">
                    </div>
                    <div class="col-md-2" style="margin-top: 10px;">
                      <div class="row">
                        <div class="col-md-12">
                          <button type="submit" class="btn system-bottons float-right" style="width: 100%;"
                            id="apply_filter"><i class="far fa-credit-card"></i>
                            <%= process.env.submit %>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
              </form>
            </div> -->
          </div>

          <div id="tbl_parent_div">
            <div class="col-md-12">
              <div class="card">
                <div >
                  <table class="table table-bordered table-hover" id="tbl_data">
                   <thead>
                      <tr>
                        <th>
                           Doctor
                        </th>
                        <th>
                            Total Appointment
                         </th>
                        <th>
                          Total Confirm
                        </th>
                        <th>
                          Total Re-appointment
                        </th>
                        <th>
                         Total Compelete
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        <% detail.forEach(function(entry) { %>
                            <tr>
                              <td>
                                <%= entry.doctor_name %>
                              </td>
                              <td>
                                <%= entry.total_appointments %>
                              </td>
                              <td>
                                <%= entry.total_confirm %>
                              </td>
                              <td>
                                <%= entry.total_ReAppointment %>
                              </td>
                              <td>
                                <%= entry.total_compelete %>
                              </td>               
               
                            </tr>
                            <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" id="userViewModal">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">
                  <%= process.env.extra_detail %>
                </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-5">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                      <div class="card-body box-profile">
                        <div class="text-center">
                          <img id="vAdminImage" class="profile-user-img img-fluid img-circle"
                            src="../../dist/img/avatar5.png" alt="Profile picture">
                        </div>

                        <ul class="list-group list-group-unbordered mb-3">
                          <li class="list-group-item">
                            <b>
                              <%= process.env.sequence_id %>
                            </b> <a class="float-right" id="vDoctorId"></a>
                          </li>
                          <li class="list-group-item">
                            <b>
                              <%= process.env.title_name %>
                            </b> <a class="float-right" id="vDoctorName"></a>
                          </li>
                          <li class="list-group-item">
                            <b>
                              <%= process.env.phone %>
                            </b> <a class="float-right" id="vDoctorPhone"></a>
                          </li>
                          <li class="list-group-item">
                            <b>
                              <%= process.env.email %>
                            </b> <a class="float-right" id="vDoctorEmail"></a>
                          </li>
                          <li class="list-group-item">
                            <b>
                              <%= process.env.user_name %>
                            </b> <a class="float-right" id="vDoctorUsername"></a>
                          </li>
                          <li class="list-group-item">
                            <b>
                                Experience Years
                            </b> <a class="float-right" id="vDoctorexperience_years"></a>
                          </li>
                          <li class="list-group-item">
                            <b>
                                Consultation Fee
                            </b> <a class="float-right" id="vDoctorconsultation_fee"></a>
                          </li>
                        
                        </ul>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->


                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-7">
                    <!-- About Me Box -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">More about..</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">                                              
                        <strong><i class="far fa-file-alt mr-1"></i>
                          <%= process.env.extra_detail %>
                        </strong>
                        <p class="text-muted" id="vAdminExtraDetail"></p>
                      </div>
                      <!-- /.card-body -->
                    </div>
                  </div>
                  <!-- /.col -->
                </div>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>

        <div class="modal" id="adminChangePassModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">
                  <%= process.env.change_password %>
                </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>
              <form class="form-data">
                <input type="hidden" id="admin_id" name="admin_id" class="form-control" required>
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-group">
                    <label for="password">
                      <%= process.env.new_password %>
                    </label>
                    <input type="password" id="new_password" name="new_password" class="form-control" required>
                  </div>
                  <!-- /.col -->
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" onclick="change_admin_pass()" >
                    <%= process.env.change_password %>
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
    </div>
  </section>
  <script>
    function genetare_admin_excel() {
      $.ajax({
        type: 'POST',
        url: '/genetare_admin_excel',
        data: $('.form-data').serialize(),
        dataType: "json",
        success: function (res) {
          window.open(res)
        }
      });
    }

    function change_admin_pass() {
      var admin_id = $('#admin_id').val();
      var new_pass = $('#new_password').val();
      if (new_pass != "" && admin_id != "") {
        $.ajax({
          type: 'POST',
          url: '/admn_change_admin_pass',
          data: { admin_id: $('#admin_id').val(), new_pass: $('#new_password').val() },
          dataType: "json",
          success: function (res) {
            $('#adminChangePassModal').modal('hide');
            Swal.fire(
              res.success + '!',
              res.message,
              'warning'
            )
          }
        });
      } else {
        Swal.fire(
          'Empty data!',
          'Please fill the password!',
          'warning'
        )
      }
    }

    function view_admin(sequence_id, name, phone, email,user_name, experience_years, consultation_fee, picture,extra_detail) {
      $("#vAdminImage").attr('src', picture);
      $("#vDoctorId").text(sequence_id);
      $("#vDoctorName").text(name);
      $("#vDoctorPhone").text(phone);
      $("#vDoctorEmail").text(email);
      $("#vDoctorUsername").text(user_name);
      $("#vDoctorexperience_years").text(experience_years);
      $("#vDoctorconsultation_fee").text(consultation_fee);
      $("#vAdminExtraDetail").text(extra_detail);
      $('#userViewModal').modal('show');
    }

    function change_pass(admin_id) {
      $("#admin_id").val(admin_id);
      $('#adminChangePassModal').modal('show');
    }
  </script>
  <!-- /.content -->
  <% include footer.html %>