<% include header.html %>
  <!-- Main content -->
  <script>
    function timeSince(date) {
      date = new Date(date);
      var seconds = Math.floor((new Date() - date) / 1000);

      var interval = seconds / 31536000;

      if (interval > 1) {
        return Math.floor(interval) + " year(s) ago";
      }
      interval = seconds / 2592000;
      if (interval > 1) {
        return Math.floor(interval) + " month(s) ago";
      }
      interval = seconds / 86400;
      if (interval > 1) {
        return Math.floor(interval) + " day(s) ago";
      }
      interval = seconds / 3600;
      if (interval > 1) {
        return Math.floor(interval) + " hour(s) ago";
      }
      interval = seconds / 60;
      if (interval > 1) {
        return Math.floor(interval) + " minute(s) ago";
      }
      return Math.floor(seconds) + " second(s) ago";
    }
  </script>
  <section class="content">
    <div class="container-fluid">
      <div class="row" style="margin-bottom:10px;">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="text-align: center;">
          <form class="form-horizontal" role="form" method="post" action="/add_hospital">
            <button type="submit" class="btn system-bottons btn-block"><span class="fa fa-plus"></span>
              Add Hospital
            </button>
          </form>
        </div>
        <div class="col-md-4">
        </div>
      </div>

      <div class="card card-default">
        <!-- /.card-header -->
        <div class="card-body">
          <form style="background-color: #ffffff; padding: 10px; margin-bottom:10px;" class="form-data" role="form"
            method="post" action="/hospital_list">
            <div class="row">
              <div class="col-md-6">
                <div style="text-align: center;">
                  <label>
                    <%= process.env.search_filter %>
                  </label>
                </div>
                <div class="row">
                  <div class="col-6">
                    <select class="form-control select2" style="width: 100%;" name="search_item" id="search_item">
                      <% if(search_item=="email" ) { %>
                        <option value="email" selected="selected">
                          <%= process.env.email %>
                        </option>
                        <option value="phone">
                          <%= process.env.phone %>
                        </option>
                        <option value="sequence_id">
                          <%= process.env.sequence_id %>
                        </option>
                        <%}else if(search_item=="phone" ) { %>
                          <option value="email">
                            <%= process.env.email %>
                          </option>
                          <option value="phone" selected="selected">
                            <%= process.env.phone %>
                          </option>
                          <option value="sequence_id">
                            <%= process.env.sequence_id %>
                          </option>
                          <% }else { %>
                            <option value="email">
                              <%= process.env.email %>
                            </option>
                            <option value="phone">
                              <%= process.env.phone %>
                            </option>
                            <option value="sequence_id" selected="selected">
                              <%= process.env.sequence_id %>
                            </option>
                            <% }%>
                    </select>
                  </div>
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="<%= process.env.search_value %>"
                      name="search_value" value="<%= search_value %>" id="search_value">
                  </div>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-md-2">

              </div>
            </div>
            <div class="row">
              <div class="col-md-10" style="margin-top: 10px;">
              </div>
              <div class="col-md-2" style="margin-top: 10px;">
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" class="btn system-bottons float-right" style="width: 100%;"
                      id="apply_filter"><i class="far fa-credit-card"></i>
                      <%= process.env.submit %>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="tbl_parent_div">
        <div class="col-md-12">
          <div class="card">
            <div>
              <table class="table table-bordered table-hover" id="tbl_data">
                <thead>
                  <tr>
                    <th>
                      <%= process.env.sequence_id %>
                    </th>
                    <th>
                      <%= process.env.title_name %>
                    </th>
                    <th>
                      <%= process.env.profile %>
                    </th>
                    <th>
                      <%= process.env.phone %>
                    </th>
                    <th>
                      <%= process.env.email %>
                    </th>
                    <th>
                      Address
                    </th>
                    <th>
                      <%= process.env.created_date %>
                    </th>
                    <th>
                      <%= process.env.action %>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% detail.forEach(function(entry) { %>
                    <tr>
                      <td>
                        <%= entry.sequence_id %>
                      </td>
                      <td>
                        <%= entry.name %>
                      </td>
                      <td><img class="img-responsive img-circle" style="width: 50px; height: 50px;"
                          src="<%= entry.picture != '' ? entry.picture : 'default.png' %>">
                      </td>
                      <td>
                        <%= entry.phone %>
                      </td>
                      <td>
                        <%= entry.email %>
                      </td>
                      <td>
                        <%= entry.address %>
                      </td>
                      <td style="width: 100px;">
                        <%= moment(entry.create_date).format("hh:mm a") %></br>
                          <%= moment(entry.create_date).format("DD-MM-YYYY") %>
                      </td>
                      <td>
                        <% if(admin_type==0 ) { %>
                          <div>
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                              <%= process.env.action %>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                              <li class="dropdown-submenu" style="margin: 2px;">
                                <form method="POST" action="/edit_hospital">
                                  <input type="hidden" name="hospital_id" value="<%=entry._id%>" />
                                  <button type="submit" class="btn btn-default" style="width: 100%;">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    <%= process.env.edit %>
                                  </button>
                                </form>
                              </li>
                              <li class="dropdown-submenu" style="margin: 2px;">
                                <form>
                                  <button type="button" class="btn btn-default" style="width: 100%;"
                                    onclick="view_admin('<%= entry.sequence_id %>','<%= entry.name %>','<%= entry.phone %>','<%= entry.email %>','<%= entry.user_name %>',
                                            '<%= entry.gender %>','<%= entry.age %>',
                                            '<%= entry.picture %>', '<%= entry.address %>','<%= entry.extra_detail %>')">
                                    <i class="fas fa-folder">
                                    </i>
                                    <%= process.env.view %>
                                  </button>

                                </form>
                              </li>
                              <li class="dropdown-submenu" style="margin: 2px;">
                                <form method="POST" action="/delete_hospital">
                                  <input type="hidden" name="hospital_id" value="<%=entry._id%>" />
                                  <button type="button" class="btn btn-default" style="width: 100%;" data-toggle="modal"
                                    data-target="#deleteHospitalModal" data-id="<%=entry._id%>">
                                    <i class="fas fa-trash"></i> delete
                                  </button>

                                </form>
                              </li>

                            </ul>
                          </div>
                          <% }%>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="userViewModal">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">
              <%= process.env.extra_detail %>
            </h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="row">
              <div class="col-md-5">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                  <div class="card-body box-profile">
                    <div class="text-center">
                      <img id="vAdminImage" class="profile-user-img img-fluid img-circle"
                        src="../../dist/img/avatar5.png" alt="Profile picture">
                    </div>

                    <ul class="list-group list-group-unbordered mb-3">
                      <li class="list-group-item">
                        <b>
                          <%= process.env.sequence_id %>
                        </b> <a class="float-right" id="vPatientId"></a>
                      </li>
                      <li class="list-group-item">
                        <b>
                          <%= process.env.title_name %>
                        </b> <a class="float-right" id="vPatientName"></a>
                      </li>
                      <li class="list-group-item">
                        <b>
                          <%= process.env.phone %>
                        </b> <a class="float-right" id="vPatientPhone"></a>
                      </li>
                      <li class="list-group-item">
                        <b>
                          <%= process.env.email %>
                        </b> <a class="float-right" id="vPatientEmail"></a>
                      </li>
                      <li class="list-group-item">
                        <b>
                          <%= process.env.user_name %>
                        </b> <a class="float-right" id="vPatientUsername"></a>
                      </li>
                      <li class="list-group-item">
                        <b>
                          Gender
                        </b> <a class="float-right" id="vPatientGender"></a>
                      </li>
                      <li class="list-group-item">
                        <b>
                          Age
                        </b> <a class="float-right" id="vPatientAge"></a>
                      </li>
                      <li class="list-group-item">
                        <b>
                          Address
                        </b> <a class="float-right" id="vPatientAddress"></a>
                      </li>

                    </ul>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->


                <!-- /.card -->
              </div>
              <!-- /.col -->
              <div class="col-md-7">
                <!-- About Me Box -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">More about..</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <strong><i class="far fa-file-alt mr-1"></i>
                      <%= process.env.extra_detail %>
                    </strong>
                    <p class="text-muted" id="vAdminExtraDetail"></p>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
              <!-- /.col -->
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

    <div class="modal" id="adminChangePassModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">
              <%= process.env.change_password %>
            </h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <form class="form-data">
            <input type="hidden" id="admin_id" name="admin_id" class="form-control" required>
            <!-- Modal body -->
            <div class="modal-body">
              <div class="form-group">
                <label for="password">
                  <%= process.env.new_password %>
                </label>
                <input type="password" id="new_password" name="new_password" class="form-control" required>
              </div>
              <!-- /.col -->
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default" onclick="change_admin_pass()">
                <%= process.env.change_password %>
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteHospitalModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="border-radius: 12px; text-align: center; padding: 20px;">
        <div class="modal-body">
          <div style="font-size: 50px; color: red; margin-bottom: 15px;">
            <i class="fas fa-trash"></i>
          </div>
          <h5 style="font-weight: 600; margin-bottom: 10px;">You are about to delete this hospital</h5>
          <p style="color: #666;">This will remove the hospital record permanently.<br>Are you sure?</p>
          <form method="POST" action="/delete_hospital">
            <input type="hidden" name="hospital_id" id="modalHospitalId">
            <div class="d-flex justify-content-center mt-4" style="gap: 10px;">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"
                style="border-radius: 6px; padding: 6px 20px;">
                Cancel
              </button>
              <button type="submit" class="btn btn-danger" style="border-radius: 6px; padding: 6px 20px;">
                Delete
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    function genetare_admin_excel() {
      $.ajax({
        type: 'POST',
        url: '/genetare_admin_excel',
        data: $('.form-data').serialize(),
        dataType: "json",
        success: function (res) {
          window.open(res)
        }
      });
    }

    function change_admin_pass() {
      var admin_id = $('#admin_id').val();
      var new_pass = $('#new_password').val();
      if (new_pass != "" && admin_id != "") {
        $.ajax({
          type: 'POST',
          url: '/admn_change_admin_pass',
          data: { admin_id: $('#admin_id').val(), new_pass: $('#new_password').val() },
          dataType: "json",
          success: function (res) {
            $('#adminChangePassModal').modal('hide');
            Swal.fire(
              res.success + '!',
              res.message,
              'warning'
            )
          }
        });
      } else {
        Swal.fire(
          'Empty data!',
          'Please fill the password!',
          'warning'
        )
      }
    }

    function view_admin(sequence_id, name, phone, email, user_name, gender, age, picture, address, extra_detail) {
      $("#vAdminImage").attr('src', picture);
      $("#vPatientId").text(sequence_id);
      $("#vPatientName").text(name);
      $("#vPatientPhone").text(phone);
      $("#vPatientEmail").text(email);
      $("#vPatientUsername").text(user_name);
      $("#vPatientGender").text(gender);
      $("#vPatientAge").text(age);
      $("#vPatientAddress").text(address);
      $("#vAdminExtraDetail").text(extra_detail);
      $('#userViewModal').modal('show');
    }

    function change_pass(admin_id) {
      $("#admin_id").val(admin_id);
      $('#adminChangePassModal').modal('show');
    }
  </script>
  <script>
    $('#deleteHospitalModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var hospitalId = button.data('id');
      var modal = $(this);
      modal.find('#modalHospitalId').val(hospitalId);
    });
  </script>

  <!-- /.content -->
  <% include footer.html %>