<% include header.html %>
  <!-- Main content -->
  <script>
    function timeSince(date) {
      date = new Date(date);
      var seconds = Math.floor((new Date() - date) / 1000);

      var interval = seconds / 31536000;

      if (interval > 1) {
        return Math.floor(interval) + " year(s) ago";
      }
      interval = seconds / 2592000;
      if (interval > 1) {
        return Math.floor(interval) + " month(s) ago";
      }
      interval = seconds / 86400;
      if (interval > 1) {
        return Math.floor(interval) + " day(s) ago";
      }
      interval = seconds / 3600;
      if (interval > 1) {
        return Math.floor(interval) + " hour(s) ago";
      }
      interval = seconds / 60;
      if (interval > 1) {
        return Math.floor(interval) + " minute(s) ago";
      }
      return Math.floor(seconds) + " second(s) ago";
    }
  </script>

<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css">
<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>

  <section class="content">
    <% if (typeof msg_success !='undefined' ) { %>
      <div class="alert alert-success alert-dismissible fade show" style="text-align: center; background-color: #008000;" role="alert">
        <strong>
          <%= msg_success %>
        </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
    <div class="container-fluid">
          <div class="row" style="margin-bottom:10px;">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" style="text-align: center;">
              <form class="form-horizontal" role="form" method="post" action="/add_shifts">
                <button type="submit" class="btn system-bottons btn-block"><span class="fa fa-plus"></span>
                Add Shifts
                </button>
              </form>
            </div>
            <div class="col-md-4">
            </div>
          </div>

          <div class="card card-default">
            <!-- /.card-header -->
            <div class="card-body">
              <form style="background-color: #ffffff; padding: 10px; margin-bottom:10px;" class="form-data" role="form"
                method="post" action="/shifts_list">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <!-- /.col -->
                    <div class="col-md-2">
  
                    </div>
                    <div class="col-md-4">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10" style="margin-top: 10px;">
                    </div>
                    <div class="col-md-2" style="margin-top: 10px;">
                      <div class="row">
                        <div class="col-md-12">
                          <button type="submit" class="btn system-bottons float-right" style="width: 100%;"
                            id="apply_filter"><i class="far fa-credit-card"></i>
                            <%= process.env.submit %>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>

          <div id="tbl_parent_div">
            <div class="col-md-12">
              <div class="card">
                <div >
                  <table class="table table-bordered table-hover" id="tbl_data">
                   <thead>
                      <tr>
                        <th>
                          <%= process.env.sequence_id %>
                        </th>
                        <th>
                          Doctor
                        </th>
                        <th>
                          Day
                        </th>
                        <th>
                          Time
                        </th>
                        <th>
                          <%= process.env.title_status %>
                        </th>
                        <th>
                          <%= process.env.created_date %>
                        </th>
                        <th>
                          <%= process.env.action %>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        <% detail.forEach(function(entry) { %>
                            <tr>
                              <td>
                                <%= entry.sequence_id %>
                              </td>
                              <td>
                                <%= entry.doctor_name %>
                              </td>
                              <td>
                                <%= entry.day %>
                              </td>
                              <td>
                                <%= entry.time %>
                              </td>
                              <td>
                                <% if(entry.status=="1" ) { %>
                                  <span class="system-bottons" style="padding: 5px; border-radius: 4px;">
                                    <%= process.env.active %>
                                  </span>
                                  <%}else { %>
                                    <span class="btn-danger" style="padding: 5px; border-radius: 4px;">
                                      <%= process.env.inactive %>
                                    </span>
                                    <% }%>
                              </td>
                              <td style="width: 100px;">
                                <%= moment(entry.create_date).format("hh:mm a") %></br>
                                  <%= moment(entry.create_date).format("DD-MM-YYYY") %>
                              </td>
                              <td>
                                <% if(admin_type==0 ) { %>
                                  <div>
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                      <%= process.env.action %>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li class="dropdown-submenu" style="margin: 2px;">
                                        <form method="POST" action="/edit_doctor">
                                          <input type="hidden" name="doctor_id" value="<%=entry._id%>" />
                                          <button type="submit" class="btn btn-default" style="width: 100%;">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            <%= process.env.edit %>
                                          </button>
                                        </form>
                                      </li>
                                      <li class="dropdown-submenu" style="margin: 2px;">
                                        <form>
                                          <button type="button" class="btn btn-default" style="width: 100%;"
                                            onclick="view_admin('<%= entry.sequence_id %>','<%= entry.name %>','<%= entry.phone %>','<%= entry.email %>','<%= entry.user_name %>',
                                            '<%= entry.experience_years %>','<%= entry.consultation_fee %>',
                                            '<%= entry.picture %>', '<%= entry.address %>','<%= entry.extra_detail %>')">
                                            <i class="fas fa-folder">
                                            </i>
                                            <%= process.env.view %>
                                          </button>
    
                                        </form>
                                      </li>
                                      <li class="dropdown-submenu" style="margin: 2px;">
                                        <form method="POST" action="/delete_shifts">
                                          <input type="hidden" name="shift_id" value="<%=entry._id%>" />
                                          <button type="submit" class="btn btn-default" style="width: 100%;">
                                            <i class="fas fa-trash">
                                            </i>
                                             delete
                                          </button>
                                        </form>
                                      </li>
                                     
                                    </ul>
                                  </div>
                                  <% }%>
                              </td>
                            </tr>
                            <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" id="userViewModal">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">
                  <%= process.env.extra_detail %>
                </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-5">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                      <div class="card-body box-profile">
                        <div class="text-center">
                          <img id="vAdminImage" class="profile-user-img img-fluid img-circle"
                            src="../../dist/img/avatar5.png" alt="Profile picture">
                        </div>

                        <ul class="list-group list-group-unbordered mb-3">
                          <li class="list-group-item">
                            <b>
                              <%= process.env.sequence_id %>
                            </b> <a class="float-right" id="vDoctorId"></a>
                          </li>
                          <li class="list-group-item">
                            <b>
                              <%= process.env.title_name %>
                            </b> <a class="float-right" id="vDoctorName"></a>
                          </li>
                          <li class="list-group-item">
                            <b>
                              <%= process.env.phone %>
                            </b> <a class="float-right" id="vDoctorPhone"></a>
                          </li>
                          <li class="list-group-item">
                            <b>
                              <%= process.env.email %>
                            </b> <a class="float-right" id="vDoctorEmail"></a>
                          </li>
                          <li class="list-group-item">
                            <b>
                              <%= process.env.user_name %>
                            </b> <a class="float-right" id="vDoctorUsername"></a>
                          </li>
                          <li class="list-group-item">
                            <b>
                                Experience Years
                            </b> <a class="float-right" id="vDoctorexperience_years"></a>
                          </li>
                          <li class="list-group-item">
                            <b>
                                Consultation Fee
                            </b> <a class="float-right" id="vDoctorconsultation_fee"></a>
                          </li>
                        
                        </ul>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->


                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-7">
                    <!-- About Me Box -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">More about..</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">                                              
                        <strong><i class="far fa-file-alt mr-1"></i>
                          <%= process.env.extra_detail %>
                        </strong>
                        <p class="text-muted" id="vAdminExtraDetail"></p>
                      </div>
                      <!-- /.card-body -->
                    </div>
                  </div>
                  <!-- /.col -->
                </div>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>

        <div class="modal" id="adminChangePassModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">
                  <%= process.env.change_password %>
                </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>
              <form class="form-data">
                <input type="hidden" id="admin_id" name="admin_id" class="form-control" required>
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-group">
                    <label for="password">
                      <%= process.env.new_password %>
                    </label>
                    <input type="password" id="new_password" name="new_password" class="form-control" required>
                  </div>
                  <!-- /.col -->
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" onclick="change_admin_pass()" >
                    <%= process.env.change_password %>
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
    </div>
  </section>
  <script>
    function genetare_admin_excel() {
      $.ajax({
        type: 'POST',
        url: '/genetare_admin_excel',
        data: $('.form-data').serialize(),
        dataType: "json",
        success: function (res) {
          window.open(res)
        }
      });
    }

    function change_admin_pass() {
      var admin_id = $('#admin_id').val();
      var new_pass = $('#new_password').val();
      if (new_pass != "" && admin_id != "") {
        $.ajax({
          type: 'POST',
          url: '/admn_change_admin_pass',
          data: { admin_id: $('#admin_id').val(), new_pass: $('#new_password').val() },
          dataType: "json",
          success: function (res) {
            $('#adminChangePassModal').modal('hide');
            Swal.fire(
              res.success + '!',
              res.message,
              'warning'
            )
          }
        });
      } else {
        Swal.fire(
          'Empty data!',
          'Please fill the password!',
          'warning'
        )
      }
    }

    function view_admin(sequence_id, name, phone, email,user_name, experience_years, consultation_fee, picture,extra_detail) {
      $("#vAdminImage").attr('src', picture);
      $("#vDoctorId").text(sequence_id);
      $("#vDoctorName").text(name);
      $("#vDoctorPhone").text(phone);
      $("#vDoctorEmail").text(email);
      $("#vDoctorUsername").text(user_name);
      $("#vDoctorexperience_years").text(experience_years);
      $("#vDoctorconsultation_fee").text(consultation_fee);
      $("#vAdminExtraDetail").text(extra_detail);
      $('#userViewModal').modal('show');
    }

    function change_pass(admin_id) {
      $("#admin_id").val(admin_id);
      $('#adminChangePassModal').modal('show');
    }
  </script>
  <!-- /.content -->
  <% include footer.html %>